{{ template "header.html" . }}

{{ if eq (len .columns) 0 }}
    No data found.
{{ else }}
    {{ template  "_tables_list.html" . }}
    <table>
        <thead>
            <tr>
                {{ range .columns }}
                    <td>{{ . }}</td>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range $rcd := .records }}
                <tr>
                    {{ range $rcd }}
                        <td>{{ . }}</td>
                    {{ end }}
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}

{{ template "_pagination.html" . }}

{{ template "footer.html" . }}