{{ template "header.html" . }}

{{ if eq (len .columns) 0 }}
    No data found.
{{ else }}
    <table>
        <thead>
            <tr>
                {{ range .columns }}
                    <td>{{ . }}</td>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range $rcd := .records }}
                <tr>
                    <td>{{ $rcd.Email }}</td>
                    <td>{{ $rcd.Name }}</td>
                    <td>{{ $rcd.Age }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}

{{ template "footer.html" . }}